<!--
  Generated template for the MyGamesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-buttons end (tap)="openASNewGame()">
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Mis juegos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (tap)=goMyGamesDetail(gam) *ngFor="let gam of games">
      <ion-thumbnail item-start class="centradoVertical">
        <img style="height: auto;" [src]="gam.my_cover">
      </ion-thumbnail>
      <h1 text-wrap>{{gam.title}}</h1>
      <p text-wrap>{{gam.companyia}}</p>
      <p text-wrap>{{gam.region}}</p>
    </ion-item>
  </ion-list>
</ion-content>
