<!--
  Generated template for the AddGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>{{ edit ? 'Edita tu Juego' : 'Añade un nuevo juego' }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Título del Juego</ion-label>
      <ion-input type="text" [(ngModel)]="game.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-9>
          <h2>Consola:</h2>
          <small>{{consola.name_console}}</small>
        </ion-col>

        <ion-col col-3>
          <button class="mr-4" ion-button end color="purple" round block outline (tap)="OpenModalConsolas()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-9>
          <h2>Región:</h2>
          <small>{{game.region}}</small>
        </ion-col>
        <ion-col col-3>
          <button class="mr-4" ion-button color="purple" round block outline (tap)="OpenModalRegions()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-9>
          <h2>Compañia:</h2>
          <small>{{game.companyia}}</small>
        </ion-col>
        <ion-col col-3>
          <button class="mr-4" ion-button color="purple" round block outline (tap)="OpenModalCompanyias()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col col-9>
          <h2>Género:</h2>
          <small>{{genre.type}}</small>
        </ion-col>
        <ion-col col-3>
          <button class="mr-4" ion-button color="purple" round block outline (tap)="OpenModalGenres()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>Año de Salida: {{game.year}}</ion-item>
    <ion-item>
      <ion-range min="1970" max="{{actualYear | date: 'yyyy'}}" steps="1" [(ngModel)]="game.year" color="purple">
        <ion-label range-left>1970</ion-label>
        <ion-label range-right>{{actualYear | date: 'yyyy'}}</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label floating>Trailer (copia la url de youtube)</ion-label>
      <ion-textarea rows="2" type="url" [(ngModel)]="game.youtube" name="youtube"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Descripción del juego</ion-label>
      <ion-textarea type="text" rows="8" [(ngModel)]="game.description" name="description"></ion-textarea>
    </ion-item>

    <ion-list radio-group [(ngModel)]="game.barcode">

      <ion-item>
        <ion-row>
          <ion-col col-8>
            <h2>Barcode:</h2>
            <small>{{game.barcode}}</small>
          </ion-col>

          <ion-col col-2>
            <button class="mr-4" ion-button color="purple" round block outline (tap)="scanBarcode()">
              <ion-icon name="list-box"></ion-icon>
            </button>
          </ion-col>

          <ion-col col-2>
            <button class="mr-4" ion-button outline color="purple" round block (tap)="reset()">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-col>

        </ion-row>
      </ion-item>

      <ion-list-header>
        Quieres añadir este código de barras?
      </ion-list-header>

      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio checked="true" value={{game.barcode}}></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="null"></ion-radio>
      </ion-item>

    </ion-list>

    <ion-list radio-group [(ngModel)]="game.add">

      <ion-list-header>
        Quieres añadir este juego a tu colección?
      </ion-list-header>

      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio checked="true" value="true"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>

    </ion-list>

    <ion-row>
      <ion-col>
        <button class="btn" ion-button block color="purple" (tap)="takePhoto()">
          <ion-icon name="camera"></ion-icon>&nbsp;Cámara</button>
      </ion-col>

      <ion-col>
        <button class="btn" ion-button block outline color="purple" (tap)="pickFromGallery()">
          <ion-icon name="camera"></ion-icon>&nbsp;Galería de fotos</button>
      </ion-col>

    </ion-row>

    <ion-item *ngIf="edit">
      <h2>Actual Carátula</h2>
      <div>
        <img [src]="actualImage" alt="">
      </div>
    </ion-item>

    <ion-item>
      <h2>Nueva Carátula</h2>
      <div>
        <img [src]="game.cover" alt="">
      </div>
    </ion-item>
  </ion-list>

  <button class="btn" ion-button block round color="purple" (tap)="addGame()">{{ edit ? 'Edita el juego' : 'Añade un juego'}}
  </button>
</ion-content>
