<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="user.email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>


  <p>
    <button ion-button class="btn" color="primary" block color="purple" outline (click)="login()">Login</button>
  </p>
  <p>
    <button ion-button class="btn" color="secondary" block color="purple" outline (click)="register()">Create Account</button>

  </p>
</ion-content>
