<!--
  Generated template for the ModalRegionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center>Regiones</ion-title>
    <ion-buttons end (click)="closeModal()">
      <button ion-button class="mr-3">
        Aceptar
      </button>
    </ion-buttons>
    <ion-buttons start (click)="goBack()">
      <button ion-button class="ml-3">
        Cancelar
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="game.region">
    <ion-item *ngFor="let reg of region">
      <ion-label>{{reg}}</ion-label>
      <ion-radio value={{reg}}></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
