<!--
  Generated template for the SteamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Steam</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list-header text-center>
    <h2>Mis juegos de Steam: {{steamAmount}}</h2>
  </ion-list-header>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngFor="let game of steamGames">


    <ion-item>
      <ion-thumbnail item-start>
        <img [src]="game.img_icon_url">
      </ion-thumbnail>
      <h2 text-wrap>{{game.name}}</h2>
      <ion-note item-end>{{game.playtime_forever}} horas jugadas</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
