<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="user.surname" name="surname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="user.user" name="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ edit ? 'Escribe si quieres cambiar el password' : 'Password'}}</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ edit ? 'Repite el nuevo password' : 'Repite el password'}}</ion-label>
      <ion-input type="password" [(ngModel)]="user.password2" name="password2"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <button class="btn" ion-button block color="purple" (tap)="takePhoto()">
          <ion-icon name="camera"></ion-icon>&nbsp;Take picture</button>
      </ion-col>

      <ion-col>
        <button class="btn" ion-button block outline color="purple" (tap)="pickFromGallery()">
          <ion-icon name="camera"></ion-icon>&nbsp;Pick picture</button>
      </ion-col>
    </ion-row>

    <ion-item>
      <h2>Actual imágen</h2>
      <div>
        <img [src]="actualImage" alt="">
      </div>
    </ion-item>

    <ion-item>
      <h2>La nueva imágen</h2>
      <div>
        <img [src]="user.avatar" alt="">
      </div>
    </ion-item>
    <ion-row>
      <ion-col>
        <button class="btn" ion-button block color="purple" (tap)="register()">{{ edit ? 'Editar' : 'Registrar'}}</button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
