<!--
  Generated template for the BdPlatformsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <ion-buttons end (tap)="openASNewGame()">
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>Plataformas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card *ngFor="let plat of platforms">
    <img (tap)="goConsoles(plat)" [src]="plat.img_platform" />
  </ion-card>

</ion-content>
