<!--
  Generated template for the MarketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Mercadillo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6 *ngFor="let mark of markets">
      <ion-card padding (tap)="goMarketDetails(mark)">
        <img src={{mark.cover}} alt="">
        <ion-card-title>
          <ion-row>
            <ion-col col-9>
              <strong class="mr-5">{{mark.price}} €</strong>
            </ion-col>
            <ion-col col-3>
              <ion-icon *ngIf="mark.send" class="float-right" name="paper-plane"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-card-title text-wrap>{{mark.title}}</ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
