page-profile {
    ion-card {
        width: 100%;
        //height: 90vh;
    }
    agm-map {
      width: 100%;
      height: 300px;
      opacity: 1;
      transition: opacity 150ms ease-in;
    }

    .tituloJuego{
        font-family: Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif;
    }

    .separacionLila {
        border-bottom: solid 2px purple;
    }

    .icon0 {
      font-size: 60px;
      color: rgb(60, 106, 231);
    }

    ion-note {
      font-size: 30px;
      align-self: flex-start;
      margin-top: 5px;
    }



}
