<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>El perfil de {{ user.user }}</ion-title>
  </ion-navbar>
  <ion-toolbar color="purple">
    <ion-segment [(ngModel)]="content" color="light">
      <ion-segment-button value="info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="ios-compass"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="myComments">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mySells">
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div [ngSwitch]="content">

    <ion-card *ngSwitchCase="'info'">
      <ion-row>
        <ion-col col-4>
          <ion-avatar>
            <img [src]="user.avatar" alt="">
          </ion-avatar>
          <ion-card-header>
            <h2 text-center>{{user.user}}</h2>
          </ion-card-header>
        </ion-col>
        <ion-col col-8>
          <ion-label>
            <strong>Nombre</strong>
          </ion-label>
          <span>{{user.name}} {{user.surname}}</span>
          <ion-label>
            <strong>Email</strong>
          </ion-label>
          <span>{{user.email}}</span>
        </ion-col>
      </ion-row>
      <button *ngIf="itsMe" ion-button full round color="purple" (tap)="goEdit()">Edit</button>
    </ion-card>



    <div *ngSwitchCase="'map'">
      <h1 text-center>
        <strong>Mi Ubicación</strong>
      </h1>
      <div *ngIf="!updateMap">
        <agm-map [latitude]="user.lat" [longitude]="user.lng" [zoom]="zoom">
          <agm-marker [latitude]="user.lat" [longitude]="user.lng">
          </agm-marker>
        </agm-map>
      </div>
      <div *ngIf="updateMap">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng">
          </agm-marker>
        </agm-map>
      </div>
      <button *ngIf="itsMe" ion-button full round color="purple" (tap)="updateCoords()">Actualiza tu posición</button>

    </div>

    <div *ngSwitchCase="'myComments'">

      <h1 text-center>
        <strong>Mis Comentarios</strong>
      </h1>
      <ion-list *ngFor="let com of comments">
        <ion-item>
          <ion-card-header>
            <ion-row>
              <ion-avatar item-start>
                <img [src]="com.avatar">
              </ion-avatar>
              <h1 text-center text-wrap>{{com.juego}}</h1>
            </ion-row>
            <h4>{{com.user}}</h4>
          </ion-card-header>

          <ion-card-header text-wrap>
            <strong text-wrap>{{com.title}}</strong>
          </ion-card-header>
          <ion-card-content>
            <i text-wrap>{{com.description}}</i>
          </ion-card-content>
          <ion-card-content>
            <small>{{com.date | date:'dd/MM/yyyy'}}</small>
          </ion-card-content>

          <ion-card-content>
            <ion-row>
              <ion-col col-6>
                <button ion-button round block color="purple" (tap)="editComm(com)">Editar</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button round block color="danger" (tap)="deleteComment(com.id_comment)">Borrar</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-item>

      </ion-list>


    </div>
    <ion-list *ngSwitchCase="'mySells'">

      <h1 text-center>
        <strong>Mis Juegos a la venta</strong>
      </h1>
      <ion-card *ngFor="let mark of markets">

        <ion-row>
          <ion-col col-4>
            <ion-thumbnail>
              <img src={{mark.cover}} alt="">
            </ion-thumbnail>
          </ion-col>
          <ion-col col-8>
            <h1 text-wrap>{{mark.title}}</h1>
            <p text-wrap>{{mark.consola}}</p>
            <p>Precio: {{mark.price}} €</p>
            <small>Puesto a la venta: {{mark.date_sell | date:'dd/MM/yyyy'}}</small>
            <ion-card-title></ion-card-title>
            <p>
            </p>
          </ion-col>
        </ion-row>

        <i padding text-wrap>{{mark.description}}</i>

        <ion-row>
          <ion-col col-4 text-center>
            <ion-icon *ngIf="mark.send" class="icon0" name="send"></ion-icon>
          </ion-col>
          <ion-col col-4>
            <button ion-button round block color="purple" (tap)="editProduct(mark)">Editar</button>
          </ion-col>
          <ion-col col-4>
            <button ion-button round block color="danger" (tap)="retireProduct(mark.id_trans_sell)">Retirar</button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

  </div>
</ion-content>
