<!--
  Generated template for the CreateCommPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-title>Comentario</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Titulo del comentario</ion-label>
      <ion-input type="text" [(ngModel)]="comment.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descripción del comentario</ion-label>
      <ion-textarea type="text" rows="8" [(ngModel)]="comment.description" name="description"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col>
        <button class="btn" ion-button block color="purple" (tap)="addComm(comment)">Comentar</button>
      </ion-col>
    </ion-row>

  </ion-list>
</ion-content>
