<!--
  Generated template for the MyConsolesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-buttons end>
      <button ion-button icon-only (tap)="openASNewGame()">

        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>Mis consolas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let con of consoles" (tap)="goMyGames(con)">
      <ion-thumbnail item-start class="centradoVertical">
        <img style="height: auto; width: auto;" [src]="con.img_console">
      </ion-thumbnail>
      <h1 text-wrap>{{con.name_console}}</h1>
    </ion-item>
  </ion-list>
</ion-content>
