page-my-consoles {
    .tituloJuego {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .separacionLila {
      border-bottom: solid 1px purple;
    }

    .centradoVertical {
        position: relative;
    }

    .centradoVertical img {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
    }
}
