<!--
  Generated template for the AddSellGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-title text-center>{{edit ? 'Edita tu venta' : 'Pon a la venta'}}</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-card>
    <h1 text-center class="mt-3">{{game.title}}</h1>
    <ion-row>
      <ion-col>
        <ion-thumbnail padding item-start class="ml-3">
          <img [src]="game.cover">
        </ion-thumbnail>
      </ion-col>
      <ion-col padding>
        <p>{{game.name_console}}</p>
        <p>{{game.companyia}}</p>
        <p>{{game.year}}</p>
        <p>{{game.genre}}</p>
        <p>{{game.region}}</p>
        <p *ngIf="game.barcode != null">{{game.barcode}}</p>
        <p *ngIf="game.youtube !=''">
          <a href={{game.youtube}}>Trailer</a>
        </p>

      </ion-col>
    </ion-row>
    <ion-item *ngIf="game.description != ''">
      <ion-card-title>Descripción</ion-card-title>
      <p>{{game.description}}</p>
    </ion-item>
  </ion-card>

  <ion-item>Precio: {{market.price}} €</ion-item>
  <ion-item>
    <ion-range min="1" max="200" steps="1" [(ngModel)]="market.price" color="purple">
      <ion-label range-left>1</ion-label>
      <ion-label range-right>200</ion-label>
    </ion-range>
  </ion-item>

  <ion-list radio-group [(ngModel)]="market.send">

    <ion-list-header>
      Quieres poder enviar tu juego?
    </ion-list-header>

    <ion-item>
      <ion-label>Si</ion-label>
      <ion-radio checked="true" value="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>No</ion-label>
      <ion-radio value="false"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-item>
    <ion-label floating>Detalles de la venta</ion-label>
    <ion-textarea type="text" rows="8" [(ngModel)]="market.description" name="description"></ion-textarea>
  </ion-item>

  <button class="btn" ion-button block round color="purple" (tap)="addSell()">{{ edit ? 'Editar' : 'Añadir'}}
</button>

</ion-content>
