<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="purple">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button >
    </ion-list>
    
      <button end menuClose full ion-button class="p-3" color="danger" (click)="logout()">
        Logout
      </button>
    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
