page-welcome {
    .card-background-page {
        img{
            opacity:0.45;
        }
      ion-card {
        position: relative;
        text-align: center;
      }
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #000;
        opacity:1;

       
      }
      .card-subtitle {
        font-size: 1.0em;
        font-weight: bold;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #000;
        opacity:1;

      }
    }

    .lila {
      color: purple;
    }


}
