<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>VG-Collection</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page" >

  <ion-card (tap)="goMyCollection()">
    <img src={{myGames}} />
    <div class="card-title">Mi colección de juegos</div>
    <div class="card-subtitle">{{amountCol}} Juegos</div>
  </ion-card>

  <ion-card (tap)="goCollection()">
    <img src={{bdGames}} />
    <div class="card-title">Busca tu juego</div>
    <div class="card-subtitle">{{amountGam}} Juegos</div>
  </ion-card>

  <ion-card (tap)=goMarket()>
    <img src={{market}} />
    <div class="card-title">Mercadillo</div>
    <div class="card-subtitle">{{amountSell}} Articulos en venta</div>
  </ion-card>

</ion-content>
