<!--
  Generated template for the EditMyGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>Editar Info</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>Logros</ion-label>
    <ion-input type="tel" [(ngModel)]="mygame.gamerscore" name="gamerscore"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Trofeos</ion-label>
    <ion-input type="tel" [(ngModel)]="mygame.trophies" name="trophies"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Fecha de finalización</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="mygame.date_finish"></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label floating>Ubicación</ion-label>
    <ion-input type="text" [(ngModel)]="mygame.local_ubication" name="local_ubication"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Notas</ion-label>
    <ion-textarea type="text" rows="8" [(ngModel)]="mygame.annotations" name="annotations"></ion-textarea>
  </ion-item>


  <ion-list radio-group [(ngModel)]="mygame.box">
    <ion-list-header>Caja</ion-list-header>
    <ion-item>
      <ion-label>Sí</ion-label>
      <ion-radio value="Sí"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>No</ion-label>
      <ion-radio value="No"></ion-radio>
    </ion-item>
  </ion-list>



  <ion-list radio-group [(ngModel)]="mygame.manual">
    <ion-list-header>Instrucciones</ion-list-header>
    <ion-item>
      <ion-label>Sí</ion-label>
      <ion-radio value="Sí"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>No</ion-label>
      <ion-radio value="No"></ion-radio>
    </ion-item>
  </ion-list>



  <button class="btn" ion-button block round color="purple" (tap)="updateGameInfo()">Editar info
  </button>

  <ion-list>
    <ion-row>
      <ion-col>
        <button class="btn" ion-button block color="purple" (tap)="takePhoto()">
          <ion-icon name="camera"></ion-icon>&nbsp;Cámara</button>
      </ion-col>

      <ion-col>
        <button class="btn" ion-button block color="purple" outline (tap)="pickFromGallery()">
          <ion-icon name="camera"></ion-icon>&nbsp;Galería de fotos</button>
      </ion-col>

    </ion-row>
    <ion-col>
      <ion-item>
        <h2>Actual Carátula</h2>
        <div>
          <img [src]="actualImage" alt="">
        </div>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <h2>Nueva Carátula</h2>
        <ion-thumbnail *ngIf="newImage != ''">
          <img [src]="newImage" alt="">
        </ion-thumbnail>
      </ion-item>
    </ion-col>
    <button class="btn" ion-button block round color="purple" (tap)="updateGameInfoCover()">Editar carátula
    </button>
  </ion-list>
</ion-content>
