<!--
  Generated template for the BarcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <ion-title text-center>Barcode</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title>Encuentra tu juego</ion-title>

  <ion-card-content>
    <button ion-button class="float-right" color="purple" (click)="scanBarcode()"> SCAN </button>
    <div>
      <h2 *ngIf="results">{{results.text}}</h2>

      <button *ngIf="results" ion-button full color="purple" (tap)="finder()">Search</button>
    </div>
  </ion-card-content>
  <ion-card class="p-3" *ngIf="game.title != ''">
    <h1 text-center class="mt-3">{{game.title}}</h1>
    <ion-row>
      <ion-col>
        <ion-thumbnail padding item-start >
          <img [src]="game.cover">
        </ion-thumbnail>
      </ion-col>
      <ion-col padding>
        <p>{{game.name_console}}</p>
        <p>{{game.companyia}}</p>
        <p>{{game.year}}</p>
        <p>{{game.genre}}</p>
        <p>{{game.region}}</p>
        <p *ngIf="game.barcode != null">{{game.barcode}}</p>
        <p *ngIf="game.youtube !=''">
          <a href={{game.youtube}}>Trailer</a>
        </p>
        
          <button ion-button round full color="purple" (tap)="addGame(game)">Añadir a mis juegos</button>

      </ion-col>
    </ion-row>
    <ion-item *ngIf="game.description != ''">
      <ion-card-title>Descripción</ion-card-title>
      <p>{{game.description}}</p>
    </ion-item>
    <button ion-button full color="purple" (tap)="lookup()">Más info de internet</button>
  </ion-card>

  <ion-card-header>
  </ion-card-header>

</ion-content>
