page-market-details {
  .big {
    font-size: 30px;
  }
  img {
      border-radius: 15px;
  }
  .rounder {
      border-radius: 15px;
      border: purple solid 1px;
  }
  .medium {
      font-size: 20px;
  }
  .icon0 {
    font-size: 60px;
    color: rgb(60, 106, 231);
  }
  agm-map {
    width: 100%;
    height: 200px;
    opacity: 1;
    transition: opacity 150ms ease-in;
  }


}
