<!--
  Generated template for the MarketDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="purple">
    <ion-title>market-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="rounder">
    <ion-img src={{market.cover}} alt=""></ion-img>

    <ion-card-title class="pl-4">
      <strong class="big">{{market.price}} €</strong>
      <ion-icon *ngIf="market.send" class="icon0 float-right mr-5" name="paper-plane"></ion-icon>
    </ion-card-title>
    <ion-card-title padding text-wrap>
      <h3 class="big">{{market.title}}</h3>
    </ion-card-title>
    <ion-card-content>
      <p text-wrap class="medium">{{market.description}}</p>
    </ion-card-content>
    <div>
      <agm-map [latitude]="market.sellLat" [longitude]="market.sellLng" [zoom]="zoom">
        <agm-marker [latitude]="market.sellLat" [longitude]="market.sellLng">
        </agm-marker>
      </agm-map>
    </div>
    
    <ion-item>
      <ion-avatar item-start>
        <img src={{market.avatar}}>
      </ion-avatar>
      <h2>{{market.user}}</h2>
    </ion-item>

    <ion-card-header>
      <span>A la venta desde: </span>
      <span class="float-right">{{market.date_sell | date:'dd/MM/yyyy'}}</span>
    </ion-card-header>
    <button *ngIf="this.market.id_user === this.usuarioId ? false : true" ion-button full round color="yellow" (tap)="paypal()"><strong>Comprar con Paypal</strong></button>
  </ion-card>

</ion-content>
