<!--
  Generated template for the BdGameDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="purple">
    <ion-buttons end>
      <button ion-button icon-only (tap)="openActionSheet(game)">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Detalle del juego</ion-title>
  </ion-navbar>

  <ion-toolbar color="purple">
    <ion-segment [(ngModel)]="content" color="light">
      <ion-segment-button value="game">
        <ion-icon name="game-controller-b"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="comments">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>


<ion-content padding>
<div [ngSwitch]="content">
  <ion-card *ngSwitchCase="'game'">
    <ion-card-header text-center>{{game.title}}</ion-card-header>
    <ion-row>
      <ion-col col-5>
        <ion-thumbnail>
          <img [src]="game.cover">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-7>
        <p>{{game.name_console}}</p>
        <p>{{game.companyia}}</p>
        <p>{{game.year}}</p>
        <p>{{game.genre}}</p>
        <p>{{game.region}}</p>
        <p *ngIf="game.barcode != null">{{game.barcode}}</p>
        <p *ngIf="game.youtube !=''">
          <a href={{game.youtube}}>Trailer</a>
        </p>

      </ion-col>
    </ion-row>
    <ion-item *ngIf="game.description != ''">
      <ion-card-title>Descripción</ion-card-title>
      <p>{{game.description}}</p>
    </ion-item>
  </ion-card>


    <ion-item *ngSwitchCase="'comments'">
      <h1 text-center>
        <strong>Comentarios</strong>
      </h1>
      <ion-list>
        <ion-card *ngFor="let com of comments">
          <ion-row>
            <ion-col col-3>
              <ion-card-header>
                <ion-avatar item-start>
                  <img class="ml-3" [src]="com.avatar">
                </ion-avatar>
                <h3 class="ml-3">{{com.user}}</h3>
              </ion-card-header>
            </ion-col>
            <ion-col col-9>
              <ion-card-title text-wrap>
                <strong text-wrap>{{com.title}}</strong>
              </ion-card-title>
            </ion-col>
          </ion-row>
          <ion-card-content>
            <i text-wrap>{{com.description}}</i>
          </ion-card-content>
          <ion-card-content>
            <small>{{com.date | date:'dd/MM/yyyy'}}</small>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-item>
  </div>
</ion-content>
